body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    background-color: #b9d6f2;
}

.box {
    text-align: center;
    padding-top: 60px;
}

.h1 {
    font-size: 4.0vw;
    font-weight: bold;
    color: #b175c0;
}

.h2 {
    font-size: 1.8vw;
    color: #000000;
}

.box img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    max-width:760px;
    height: auto;
    margin-bottom: 50px;
    margin-top: 20px;
    z-index: -1;
    bottom: -10px;
}
